<mat-card class="mat-elecation-z8 container customCard">
    <mat-card-header>
        <div customCard>
            <div class="customCard">
                <mat-card-title class="title">24 Hour Services</mat-card-title>
                <mat-card-subtitle class="subtitle">What's your problem ? We are here to help you</mat-card-subtitle>
            </div>
            <div class="customCard">
                <img src="assets/img/orderservice.jpg" alt="">

            </div>
        </div>


    </mat-card-header>
</mat-card>