mat-card {
    width: 75%;
    height: 50%;
    border-radius: 8rem;
    margin: 1rem auto 0 auto;
    background-color: rgb(113, 127, 127);
}

.customCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customCard img {
    width: 90%;
    height: auto;
    animation: slideInFromLeft 2s ease-out;
}

.title {
    font-size: 2.2rem;
    background-color: rgb(73, 133, 69);
    padding: 10px 40px;
    border-radius: 2px solid;
    border-radius: 10px;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: rgb(91, 96, 181);
    padding: 1rem 3rem;
    border-radius: 2px solid;
    border-radius: 20px;
}

img {
    border-radius: 3rem;
    width: 90%
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}