<form class="form mat-elevation-z8">
    <h1>Update technician</h1>
    <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="technical.name" [formControl]="name" required maxlength="30" name="name" matInput placeholder="Ex. Joel Maciel">
        <mat-error *ngIf="name.invalid">{{ errorValidName() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>JobFunction</mat-label>
        <input [(ngModel)]="technical.jobFunction" [formControl]="jobFunction" required maxlength="50" name="jobFunction" matInput placeholder="Ex. Plumber">
        <mat-error *ngIf="jobFunction.invalid">{{ errorValidJobFunction() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>PhoneNumber</mat-label>
        <input [(ngModel)]="technical.phoneNumber" [formControl]="phoneNumber" required maxlength="15" name="phoneNumber" matInput placeholder="Ex. (85) 999999999">
        <mat-error *ngIf="phoneNumber.invalid">{{ errorValidPhoneNumber() }}</mat-error>
    </mat-form-field>

    <button class="mat-elevation-z8" (click)="update()" [disabled]="errorValidName() || errorValidCpf() || errorValidPhoneNumber() || errorValidJobFunction() " class="button-create" mat-stroked-button color="accent">UPDATE</button>
    <button class="mat-elevation-z8" (click)="cancel()" class="button-cancel" mat-stroked-button color="warn">CANCEL</button>

</form>yy