.container {
    width: 70%;
    margin: auto;
    background-color: rgb(71, 74, 74);
    border-radius: 18px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
    font-weight: 550;
    margin-bottom: .3rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgba(255, 234, 9, 0.5);
}

p {
    height: 4rem;
    background-color: rgb(123, 123, 133);
    border-radius: 7px;
    font-weight: 500;
}

#open {
    text-align: end;
}

button {
    width: 100%;
    margin-top: .5rem;
}