<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="">
                <i class="material-icons">home</i>Home
            </a>
            <a mat-list-item routerLink="technicians">
                <i class="material-icons">work</i>Technical
            </a>
            <a mat-list-item routerLink="customers">
                <i class="material-icons">person_search</i>Customers
            </a>
            <a mat-list-item routerLink="orderservices">
                <i class="material-icons">person_pin</i>Service Orders
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon class="menu">more_vert</mat-icon>
      </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>